# hosting
HOST = 0.0.0.0
PORT = 8000
FRONT_HOST = 0.0.0.0
FRONT_PORT = 3000
NEXT_PUBLIC_API_URL="http://localhost:8000"
NEXT_PUBLIC_WS_API_URL="ws://localhost:8000"
MONGO_URL = "mongodb://root:pass@localhost:27015"

# secret and token
JWT_SECRET = ""
NEXT_PUBLIC_GOOGLE_API_KEY=""
GOOGLE_API_KEY=""
TEST_KEY = "..."

# configuration
STACKED_RADIUS_RATIO = 5